*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    overflow: hidden;
} */

.container{
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
}


header {
    position: relative;
    width: 100%;
    z-index: 10;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease; 
    transform: translateY(0); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

header.sticky {
    position: fixed;
    top: 0;
    background-color: #fff; 
    transform: translateY(0); 
}


nav {
    padding: 20px 0;
    min-height: 8vh;
    padding-left: 100px;
    font-family: 'Poppins', sans-serif;
}

nav img {
    width: 169px;
    height: 44px;
}
.logo-container {
    display: inline-flex;
    position: relative; 
    padding-right: 20px; 
}

.logo-container::after {
    content: "";
    background-color: #ddd;
    width: 1px;
    height: 84px;
    top: -5px;
    position: absolute; 
    left: 100%; 
    margin-top: -15px; 
}

nav ul {
    display: flex;
    align-items: center;
    margin-left: 50px;
    width: 50%;
    list-style: none;
    gap: 30px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #5E5E5E;
    font-size: 16px;
    font-weight: 700;
    transition: color 0.4s ease; 
}

nav ul li a:hover {
    color: #75C5CF;
}

nav ul li.active {
    background-color: #75C5CF;
}

nav ul li.active a {
    color: white;
}
.burger-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.nav-links.active {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    text-align: center;
}
.nav-links.active li {
    margin: 20px 0;
}
.goTopDiv{
    background-color: rgba(221, 221, 221, 0.5);
    position: fixed;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #75C5CF;
    right: 40px;
    bottom: 70px;
    opacity: 0;
    transition: 1s ease;
    z-index: 100;
}
.goTopDiv.visible {
    opacity: 1; 
}
.goTopDiv i{
    color: #75C5CF;
    font-size: 17px;
}
.goTopDiv:hover i{
    animation: bounceArrow 1.5s infinite; 
    color: white;
}
.goTopDiv:hover{
    background-color: #75C5CF;
}


@keyframes bounceArrow {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
        opacity: 0;
    }
}
.carousel-container {
    position: relative;
    width: 800px;
    overflow: hidden;
    border-radius: 5px;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-image {
    width: 100%;
    height: auto;
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.carousel-btn {
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
    border: none;
    padding: 100% 30px;
    cursor: pointer;
    font-size: 17px;
}
.carousel-btn:hover {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));
}


.carousel-indicators {
    position: absolute;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 100%;
}

.carousel-circle {
    width: 12px; 
    height: 12px;
    border-radius: 50%;
    background-color: transparent;
    margin: 0 5px;
    transition: background-color 0.3s;
    border: 2px solid white; 
}
.container {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}


.flex{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
    margin: 0 auto;
}
.formDetails{
    border: 2px solid #CCCCCC;
    border-radius: 5px;
    padding: 30px;
}
.formDetails h2{
    color: #5E5E5E;
    text-align: center;
}
.formDetails h2::before,
.formDetails h2::after {
    content: "";
    background: #CCCCCC;
    width: 65px;
    height: 1px;
    display: inline-block; 
    margin: 0 auto; 
    vertical-align: middle;
}
.formDetails h2::before{
    margin-right:20px ;
}
.formDetails h2::after{
    margin-left: 20px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 ,label,::placeholder, button,p {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    line-height: 1.1;
    color: #5e5e5e
}
.formDetails h3{
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #333333;
    border: 1px dashed #CCCCCC ;
    padding: 10px 20px;
    margin: 20px 0;
}
.formDetails h3 span{
    color: #75C5CF;
    font-size: 18px;
}
.formDetails h3 p{
    font-size: 12px;
    color: #979797;
}
form div{
    display: flex;
    flex-direction: column;
    position: relative;
}
form input{
    height: 40px;
    border: 1px solid #CCCCCC;
    margin-bottom: 20px;
}
form label{
    margin-bottom: 5px;
    font-size: 13px;
}
::placeholder{
    padding: 10px;
    color: #979797;
    font-weight: 400;
    font-size: 14px;
}
form button{
    width: 100%;
    height: 35px;
    text-shadow: 0 -1px 0 #50878e;
    border-color: #35929e;
    background: linear-gradient(to bottom, #AFCDE8, #75C5CF);
    color: white;
    font-weight: 700;
}
input[type="date"]{
    position: relative;
}
.flatpickr-input {
    width: 100% !important;
    max-width: 400px;
    min-width: 280px;
    box-sizing: border-box;
}
form div .firstDateIcon {
    position: absolute;
    top: 40.5%;
    right: 15%;
    color: #75C5CF;
    cursor: pointer;
    z-index: 1;
}
form div .SecondDateIcon {
    position: absolute;
    top: 51%;
    right: 15%;
    color: #75C5CF;
    cursor: pointer;
    z-index: 1;
}
form label span{
    background-color: #9F9F9F;
    border-radius: 50%;
}
form label span i{
    padding: 0px 6px;
    color: white;
}

#Data-content {
    position: relative;
    cursor: pointer;
  }
  

  #Data-content::after {
    content: "Check-in is from 11:00";  
    position: absolute;
    top: 30%;  
    left: 105%;  
    transform: translateY(-50%);  
    background-color: white; 
    color: #333;  
    padding: 8px 12px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;  
    transition: opacity 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  }
  
  #Data-content:hover::after {
    opacity: 1; 
  }
  

  
.roomDetailsFlex {
    display: flex;
    width: 100%;
    margin-top: 40px;
}

.roomDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-collapse: collapse; 
}


.table {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
}

.cell {
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1;
    padding: 8px;
    border-radius: 5px;
}

.cell i {
    font-size: 18px;
    color: #28a745;
}

.table .row:nth-child(odd) {
    background-color: #f9f9f9;
}

.cell {
    background-color: #fff;
}

.roomDetails i {
    color: #75C5CF;
    font-size: 13px;
}

.roomDetails p{
    margin-top: 40px;
    margin-left: 15px;
    width: 685px;
    font-size: 14px;
    font-weight: 500;
    color: #333333;
}
.roomDetails h3{
    margin-left: 15px;
    margin-bottom: 20px;
}
.Overview {
    width: 100%;
    position: relative;
    margin-left: 30px;
}
.pFlex{
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
    width: 405px;
}
.Overview ul {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.Overview ul li{
    list-style: none;
}
.Overview ul li a{
    text-decoration: none;
    color: #75C5CF;
    padding: 10px 20px;
    transition: 1s ease;
}

.Overview div p{
    margin-top: 20px;
    font-size: 13px;
    font-weight: 400;
    width: 420px;
}
.Overview ul li a.active{
    color: #333333;
    border: 1px solid #CCCCCC;
    border-bottom: none;
}
.Overview ul li a:hover{
    color: #333333;
    border: 1px solid #CCCCCC;
    border-bottom: none;
}

.Overview div {
    opacity: 0; 
    visibility: hidden; 
    transition: visibility 0s ease 1s; 
}


@keyframes fadeIn {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1;
    }
}


.Overview div.active {
    visibility: visible;
    animation: fadeIn 1s ease;
    opacity: 1; 
    transition: visibility 0s ease 0s; 
}
#rooms-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 300px;
}

.room {
    position: relative;
    width: 350px;
    height: 280px;
    background-color:white;
    font-family: "Archivo", serif;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.room-image {
    position: relative;
    width: 100%;
    height: auto; 
    overflow: hidden;
}

.room-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.room-info {
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 5px 10px;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.room:hover .room-info{
    transform: translateY(-555%);
}

.room-info h3 {
    color: #5E5E5E;
    font-size: 15px;
    font-family: "Archivo", serif;
    font-weight: 700;
    padding-inline: 5px;
    margin-bottom: 5px;
}

.room-info p {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #75C5CF;
    font-size: 18px;
    font-family: "Archivo", serif;
    font-weight: 700;
}
.room-info p::before{
    position: absolute;
    content: '';
    display: inline-block;
    align-self: center;
    width: 0.5px;
    height: 43px;
    background: #E0E0E0;
    right: 60px;  
   top: -7px;   
}

.room-info span {
    font-size: 12px;
    color: #777;
}

.book-now {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #7BD5E0;
    color: white;
    border: none;
    width: 100%;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0;
    transition: bottom 0.5s ease, opacity 0.5s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.room:hover .room-image img {
    transform: translateY(-100%);
    opacity: 0;
}

.room:hover .book-now {
    bottom: 205px; 
    opacity: 1;
}
.otherRooms h2 ,.formDetails h2,
.roomDetailsFlex h2{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
    white-space: nowrap; 
    max-width: 100%;
    min-width: 300px;
}
.otherRooms h2::before,
.otherRooms h2::after,
.formDetails h2::before,
.formDetails h2::after,
.roomDetailsFlex h2::before,
.roomDetailsFlex h2::after{
    content: "";
    background: #CCCCCC;
    flex-grow: 1;
    height: 1px;
    max-width: 34%; 
    min-width: 50px; 
    margin: 0 10px;
}
footer{
    background-color: #272727;
    color: white;
    height: 80px;
  }
  footer p{
      padding:40px 0 0 200px;
      font-size: 13px;
      color: #A5A5A5;
  }

  @media (max-width:1191px){
    .carousel-container {
        width: 100%;
    }

    .formDetails{
        width: 100%;
    }
    .firstDateIcon,.SecondDateIcon{
        right: 20px !important;
    }
    .SecondDateIcon{
        top: 40% !important;
    }
  }
  @media (max-width:1130px){
    .roomDetailsFlex{
        flex-direction: column;
    }
    .Overview section{
        width: 100%;
    }
    .Overview div p{
        width: 100%;
    }
  }
  @media (max-width: 1024px) {

    .formDetails {
        padding: 15px;
    }

    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

}

@media (max-width:1024px){
    .Overview h2{
        text-align: start;
    }
}

@media (max-width: 768px) {
    nav ul {
        font-size: 14px;
        gap: 20px;
    }
    .logo-container{
        display: none;
    }
    header {
        padding: 10px;
    }
    nav{
        padding-left: 0;
        padding-inline: 20px;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
    }
    .logo-container{
        display: none;
    }

    .burger-icon {
        display: flex !important;
        justify-content: space-between !important;
        align-items: center;
    }
   

    .nav-links.active {
        display: block;
        height: 100vh;
        margin-top: 20px;
    }
    nav ul {
        flex-direction: column;
        margin-left: 0;
        align-items: center;
    }
    nav ul li {
        margin: 10px 0;
    }
    
    .carousel-container {
        width: 100%;
    }

    .goTopDiv {
        bottom: 20px;
        right: 10px;
    }

    .formDetails {
        padding: 20px;
    }
    .row {
        align-items: flex-start;
    }

    .cell {
        margin-bottom: 10px;
    }
    .roomDetails h2{
        text-align: left;
    }
    .room {
        width: 100%; 
        height: auto;
    }
    .room-info h3 {
        font-size: 14px;
    }
    .room-info p {
        font-size: 16px;
    }
    .book-now {
        position:static;
        bottom: 10px; 
        opacity: 1;
        transform: translateX(0);
    }

    .room:hover .room-image img {
        transform: translateY(0%);
        opacity: 1;
    }
    
    .room:hover .book-now {
        bottom: 0; 
    }

    .room:hover .room-info{
        transform: translateY(0%);
    }
    
}

@media (max-width: 480px) {
    nav ul {
        font-size: 12px;
    }

    .carousel-container {
        width: 100%;
    }

    .goTopDiv {
        bottom: 15px;
        right: 10px;
    }

    .formDetails {
        padding: 10px;
    }
    .Overview{
        margin-left: 0;
    }
}