*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    opacity: 0;
}
header {
    position: relative;
    width: 100%;
    z-index: 10;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease; 
    transform: translateY(0); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

header.sticky {
    position: fixed;
    top: 0;
    background-color: #fff; 
    transform: translateY(0); 
}


nav {
    padding: 20px 0;
    min-height: 8vh;
    padding-left: 100px;
    font-family: 'Poppins', sans-serif;
}

nav img {
    width: 169px;
    height: 44px;
}
.logo-container {
    display: inline-flex;
    position: relative; 
    padding-right: 20px; 
}

.logo-container::after {
    content: "";
    background-color: #ddd;
    width: 1px;
    height: 84px;
    top: -5px;
    position: absolute; 
    left: 100%; 
    margin-top: -15px; 
}

nav ul {
    display: flex;
    align-items: center;
    margin-left: 90px;
    width: 50%;
    list-style: none;
    gap: 30px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #5E5E5E;
    font-size: 16px;
    font-weight: 700;
    transition: color 0.4s ease; 
}

nav ul li a:hover {
    color: #75C5CF;
}

nav ul li.active {
    background-color: #75C5CF;
}

nav ul li.active a {
    color: white;
}
.burger-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.nav-links.active {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    text-align: center;
}
.nav-links.active li {
    margin: 20px 0;
}
.goTopDiv{
    background-color: rgba(221, 221, 221, 0.5);
    position: fixed;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #75C5CF;
    right: 40px;
    bottom: 70px;
    opacity: 0;
    transition: 1s ease;
}
.goTopDiv.visible {
    opacity: 1; 
}
.goTopDiv i{
    color: #75C5CF;
    font-size: 17px;
}
.goTopDiv:hover i{
    animation: bounceArrow 1.5s infinite; 
    color: white;
}
.goTopDiv:hover{
    background-color: #75C5CF;
}


@keyframes bounceArrow {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
        opacity: 0;
    }
}

footer{
    position: relative;
    background-color: #272727;
    color: white;
    height: 80px;
    bottom: 0;
  }
  footer p{
      padding:40px 0 0 200px;
      font-size: 13px;
      color: #A5A5A5;
  }
  /* ----------------------------- */
  ul{
    list-style: none;
    display: flex;
    gap: 10px;
    margin-left: 190px;
  }
  section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 500px;
  }
  section .hotel{
    width: 370px;
    /* height: 300px; */
    background-color:white;
    font-family: "Archivo", serif;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  }
    section .hotel img{
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    #CategroryList{
        margin-top: 50px;
    }
    #CategroryList li{
        padding: 12px 15px;
        border-radius: 5px;
        font-size: 14px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.4s;
    }
    #CategroryList li.active {
        background-color: #75C5CF;
        color: white;
    }
    #CategroryList li:hover{
        background-color: #ccc;
        color: white;
    }
    .hotel {
        position: relative;
        overflow: hidden;
    }
    
    .hotel img {
        transition: transform 0.5s ease, opacity 0.5s ease;
    }
    
    .hotel h2 {
        position: relative;
        left: 50%;
        transform: translateX(-80%);
        transition: transform 0.5s ease, bottom 0.5s ease;
        z-index: 2; 
        font-size: 14px;
        color: #5E5E5E;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 500;
        width: 200px;
        padding: 20px 0;
    }
    
    .viewRooms {
        position: absolute;
        bottom: -50px; 
        left: 50%;
        transform: translateX(-50%);
        background-color: #7BD5E0;
        color: white;
        border: none;
        width: 100%;
        padding: 8px 20px;
        font-size: 14px;
        border-radius: 4px;
        cursor: pointer;
        opacity: 0;
        transition: bottom 0.5s ease, opacity 0.5s ease;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .hotel:hover h2 {
        transform: translateX(-80%) translateY(-330%); 
        bottom: 60px; 
    }
    .hotel:hover img {
        transform: translateY(-100%); 
        opacity: 0; 
    }
    
    .hotel:hover .viewRooms {
        bottom: 220px; 
        opacity: 1; 
    }
    
    @media (max-width:780px) {
        header {
            padding: 10px;
        }
        nav{
            padding-left: 0;
            padding-inline: 20px;
        }
        .logo-container {
            padding-right: 10px;
        }
        .nav-links {
            display: none;
            flex-direction: column;
            width: 100%;
            background-color: #333;
        }
        .logo-container{
            display: none;
        }
    
        .burger-icon {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
       
    
        .nav-links.active {
            display: block;
            height: 100vh;
            margin-top: 20px;
        }
        nav ul {
            flex-direction: column;
            margin-left: 0;
            align-items: center;
        }
        nav ul li {
            margin: 10px 0;
        }
        .hotel {
            width: 100%; 
        }
      
        h2  {
            font-size: 16px;
        }
        .viewRooms {
            position:static;
            bottom: 10px; 
            opacity: 1;
            transform: translateX(0);
        }
    
        .hotel:hover  img {
            transform: translateY(0%);
            opacity: 1;
        }
        
        .hotel:hover .viewRooms {
            bottom: 0; 
        }
    
        .hotel:hover h2{
            transform: translateX(0%) translateY(0%); 
            position: static !important;
            margin-bottom: 20px;
            bottom: 0;
        }
    }